
body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 120%;
    margin: 0; /* keep this */
}
header {
   background-color: #333;
   position: fixed;
   width:100%;
   }

h1{
  float: left;
  padding-left: 2%;
}
nav {
  float:right;
  width:330px;
  margin-top: 1em;
}
nav ul{
  list-style:none;
}
nav li {
  float:left;
  margin:10px;
}
a{
  text-decoration: none;
}

div
{
  float:left;
  overflow:auto;
  margin:-60% 10% 0 1%;
  padding-left: 1%;
  width: 50%;

}

article
{
  float:right;
  color: #000;
  width: 45%;
  padding:2%;
  margin: -54.5% auto;

}

.clearfix{
  clear:both;
}
section
{
  padding:66% 0 0 0;
  hieght: 100%;


}

h2
{
  text-align: left;
  font-size: 220%;
  margin-left:.5%;


}

#cougar
{
  background: #B26219;

}
#lion
{
  background: #FFD5AE;
}

#tiger
{
  background: #FFBD82;
}

footer {
  text-align:center;
  width: 600px;
  padding:2px;
  margin: auto;
}


/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }
